
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a {
  color: #fffeff;
}


/* OAE Custom */
html {
    background: url("../images/page-bg.png") repeat scroll left top transparent;
}
#header {
    background: url("../images/main-banner.png") no-repeat scroll center top transparent;
    height: 396px;
    margin-top: 70px;
}
#header.without-header {
    height: 0px;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: transparent;
}
.tabs ul.primary li a.active {
    background-color: transparent;
}
.tabs ul.primary li.active a {
    background-color: transparent;
    border: none;
}
.sidebar .block {
    background-color: #e5e4e1;
    border-color: #e5e4e1;
}
#page-wrapper,
#footer-wrapper {
    background: #e5e4e1;
}
#page-wrapper {
    background: url("../images/page-bg.png") repeat scroll left top transparent;
}
#footer-wrapper {
    background: #3b3b3b;
}