.heading1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 5px;
    padding-left: 20px;
}
.heading2 {
    color: #0074A7;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 22px;
}
.mainText {
    color: #666666;
    letter-spacing: 0.04em;
}
.boxedText {
    color: #303030;
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 19px;
    padding: 20px;
    text-shadow: 1px 1px 1px #FFFFFF;
}