
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 1130px;
}
#header div.section {
  position: relative;
  width: 280px;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 25px 0 20px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  border-left: none;
  border-right: none;
  height: 280px;
  padding: 0 10px;
  width: 260px;
}
.region-footer-firstcolumn {
  border-left: none;
  width: 270px;
}
.region-footer-thirdcolumn {
  padding: 0 10px;
  width: 210px;
}
.region-footer-fourthcolumn {
  border-right: none;
  padding: 0 10px;
  width: 300px;
}
#footer {
  width: 940px;
  min-width: 920px;
}

/* OAE Custom */
#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer {
    margin-left: auto;
    margin-right: auto;
    width: 1130px;
}
.with-secondary-menu .region-header {
    margin-top: 0;
    position: absolute;
    top: -45px;
}
#secondary-menu {
    position: absolute;
    right: 0;
    top: -50px;
    width: 480px;
}
#footer-wrapper table,
#footer-wrapper table tr,
#footer-wrapper table tr td {
    background: none !important;
    border-collapse: inherit;
}
.view-recent-posts .views-row {
    margin-top: 10px;
}
.view-recent-posts .views-row-first {
    margin-top: 0;
}
.view-recent-posts .views-field-title {
    margin-bottom: 3px;
}
.view-recent-posts .views-field-name {
    color: #fff;
    float: left;
    font-size: 11px;
    font-style: italic;
    padding-right: 4px;
}
.view-recent-posts .field-content a {
    font-style: normal !important;
    text-decoration: none !important;
}
.view-recent-posts .views-field-created {
    font-size: 11px;
}
.region-footer-firstcolumn h2 {
    background: url("../images/info-icon-white.png") no-repeat scroll left center transparent;
    margin-left: -25px;
    padding-left: 25px;
}
.region-footer-secondcolumn h2 {
    background: url("../images/rss-icon-white-inverted.png") no-repeat scroll left center transparent;
    margin-left: -25px;
    padding-left: 25px;
}
.region-footer-thirdcolumn h2 {
    background: url("../images/message-icon-white.png") no-repeat scroll left center transparent;
    margin-left: -30px;
    padding-left: 30px;
}
.region-footer-firstcolumn .content > p:first-child,
.region-footer-thirdcolumn .content > p:first-child {
    margin-top: 0 !important;
    margin-left: -25px;
    padding-left: 25px;
}
.view-recent-posts .views-field-title a {
    color: #fff !important;
    font-style: italic !important;
    letter-spacing: 0.03em;
    text-decoration: underline !important;
}
.region-footer-secondcolumn a.views-more-link {
    color: #fff !important;
    display: block;
    font-size: 11px;
    font-style: italic !important;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-top: 10px;
    text-decoration: underline !important;
}