#casestudies_container h1 {
    color: #0074A7 !important;
    font-family: Arial,"Times New Roman",Times,serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 22px;
}
#casestudies_container h2 {
    color: #0074A7 !important;
    font-family: Arial,"Times New Roman",Times,serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 22px;
}
#casestudies_container .cs_box_container {
    background-color: #DBD9D2;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    padding: 12px 20px;
    width: 309px;
}
#casestudies_container #cs_carousel_container {
    height: 130px;
    margin: 0 auto 10px;
    padding: 20px 0 0;
    width: 1070px;
}
#casestudies_container #cs_carousel_container ul {
    height: 110px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 890px;
}
#casestudies_container #cs_carousel_container ul li {
    cursor: pointer;
    display: inline;
    float: left;
    height: 80px;
    margin-right: 40px;
    width: 270px;
    padding: 15px 0;
}
#casestudies_container #cs_carousel_container ul li:last-child {
    margin-right: 0;    
}
#casestudies_container #cs_carousel_container ul li img:first-child {
    display: none;
}
#casestudies_container #cs_carousel_container ul li.active {
    background-color: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0 0 3px 1px #666;
}
#casestudies_container #cs_carousel_container ul li img {
    height: 80px;
    width: 270px;
}
#casestudies_container #cs_carousel_container ul li.active img:first-child {
    display: block;
}
#casestudies_container #cs_carousel_container ul li.active img:first-child + img {
    display: none;
}
#casestudies_container .cs_case_content {
    float: left;
    width: 700px;
}
#casestudies_container .cs_case_content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#casestudies_container .cs_case_content p,
#casestudies_container .cs_box_container p,
#casestudies_container .cs_case_content ul {
    color: #444;
    font-family: Arial,"Times New Roman",Times,serif;
    font-size: 13px;
    letter-spacing: 0.04em;
}
#casestudies_container .cs_box_container p.boxedText{
    color: #303030;
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 19px;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#casestudies_container .subheader {
    color: #222 !important;
}