h1#designlenses_header {
    color: #2085B2;
    font-size: 25px !important;
    font-weight: normal;
    line-height: 27px;
    padding: 12px 12px 0 0 !important;
    text-align: left;
}

img#designlenses_image {
    height: 595px;
}